<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup" >
        <section name="PAM.Properties.Settings" type="System.Configuration.ClientSettingsSection" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
    <userSettings>
        <PAM.Properties.Settings>
            <setting name="IdleTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AutoExportEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExportInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoExportPath" serializeAs="String">
                <value />
            </setting>
        </PAM.Properties.Settings>
    </userSettings>
</configuration>
